body {
  background-color: #231f20;
}

#lockIcon {
  position: absolute;
  margin-right: 10px;
  right: 40px;
  z-index: 10;
}

#lockIconRed {
  position: absolute;
  right: 40px;
  margin-right: 10px;
  margin-top: 5px;
  z-index: 11;
}

#deleteIcon {
  position: absolute;
  right: 80px;
  z-index: 10;
}

#deleteIconRed {
  position: absolute;
  right: 80px;
  z-index: 11;
}

#openMainModal {
  position: absolute;
  right: 0px;
  margin-right:21px;
  margin-top:5px;
  z-index: 10;
}

#widgetIcon {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}

#x-delete {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  z-index: 1;
}

.modal-header {
  background-color: #231f20;
  color: white;
  display: flex;
  flex-direction: row;
}

.modal-header-div {
  width: 25%;
  text-align: center;
}

#tool-icon-container {
  height:21px;
  width:100%;
}

.tool-icon {
  margin-top: 5px;
}

.modal-body {
  background-color: #231f20;
}

#logout-button {
  width: 60%;
  text-align: center;
}

#widgetStringInput {
  height: 200px;
}

.modal-content {
  color: white;
}

#main-modal {
  background-color: black;
  height: 80vh;
  overflow: hidden;
  justify-content: center;
}

#load-all-icons-button {
  opacity: 0.85;
}

#auth-modal {
  overflow: scroll;
  background-color: black;
  height: 80vh;
}

.widget-url-input {
  color: black;
  text-align: center;
}

#load-all-icons-container {
  position: fixed;
  right: 25px;
  bottom: 0;
  z-index: 10;
}

#export-widgets-container {
  background: white;
  color: black;
  height: 250px;
  width: 80%;
  margin: 40px 80px;
  overflow: scroll;
}

#import-widgets-textbox {
  background: white;
  color: black;
  height: 250px;
  width: 80%;
  margin:40px 80px;
  overflow: scroll;
}

#import-widgets-button {
  width:40%;
}

.main-modal-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-body-form {
  height: 174px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-tabs>li>a {
  color: #2aabd2;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  background-color: black;
  color: white;
}

.modal-form-icon-container {
}

.selected-icon-container {
  text-align: center;
}

.selected-icon {
  width: 40%;
  height: 40%;
}

.grid-container {
  padding-top:40px;
}

.gridster-modal {
  max-height: 50vh;
  overflow: scroll;
}

.gridster-modal-icon {
  width: 100%;
  height: 100%;
}

.text-centered {
  text-align:center
}

.full-height {
  height: 100%;
}

