<div class="calculator">
  <div class="u4 display">
    <div class="display-inner">{{out}}</div>
  </div>

  <div gridster="calcGridOptions"style="margin-top:28px">
    <ul>
      <li>
        <button gridster-item ng-model="calkey" class="calkey" ng-repeat="calkey in mykeys track by $index" size-x="calkey.sizeX">
                          <!-- ng-click="display(calkey)"> -->
          {{calkey.key}} 
        </button>
        </li>
        <!-- <div ng-if="calkey!=\'<-\'">{{calkey}}</div> -->
        <!-- <div ng-if="calkey==\'<-\'">B</div> -->
    </ul>
  </div>
</div>
